
html { 
  background: url(goldenGate.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about {
	margin: 15px;
}

.background {
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	margin: 10px;
	border: 0.5px solid #999;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content-container {
	background-color: #fff;
}

.download-link {
	margin: 10px;
}

.empty-tab {
	border-top: 0.5px solid #999;
	border-bottom: 0.5px solid #999;
	width: 100%;
}

.i-frame {
	width: 100%;
	height: 1000px;
	border: none;
}

.paragraph {
	padding: 15px;
	max-width: 600px;
}

.profile-container {
	margin: 15px;
}

.profile-text-container {
	margin-top: 20px;
	margin-left: 10px;
	color: #fff;
}

.profile-picture {
	border-radius: 50%;
	object-fit: cover;
	width: 80px;
	height: 100px;
}

.projects {
	display: flex;
}

.project-description {
	margin-top: 15px;
	max-width: 400px;
}

.project-picture {
	border: 0.5px solid #999;
	margin: 15px;
	object-fit: cover;
	width: 120px;
	height: 100px;
}

.tab-container {
	margin: 10px;
	border: 0.5px solid #999;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-top: none;
}

.tab-header {
  cursor: pointer;
  height: 25px;
  min-width: 80px;
  padding: 0px 20px 10px 20px;
  color: #fff;
  border: 0.5px solid #999;
  border-left: none;
}

.tab-header-selected {
  background-color: #fff;
  cursor: pointer;
  height: 25px;
  min-width: 80px;
  padding: 0px 20px 10px 20px;
  border: 0.5px solid #999;
  border-left: none;
  border-bottom: 0.5px solid #fff;
}

.tab-row-class {
	display: flex;
}

.tab-title {
  font-size: 1em;
}
